<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Shortly. Providing shortlinks since 2019">
  <meta name="theme-color" content="#006064">
  <meta name="author" content="Akash Rajpurohit">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="icon/favicon.ico">
  <title>Shortly</title>
</head>
<body>
  <%- include('partials/header.ejs') -%>
  <main class="container mt-4">
  	<% if (error) { %>
		  <pre><code class="message__content"><%= message %></code></pre>
		<% } %>

		<% if(!success) { %>
  	<form method="POST" action="/shortly/magic" class="form__container">
		  <div class="row">
		  	<div class="two columns">
		      <h4>URL</h4>
		    </div>
		    <div class="ten columns">
		      <input class="u-full-width" type="url" placeholder="https://myawesomewebsite.com" name="url" required>
		    </div>
		  </div>
		  <div class="row">
		  	<div class="two columns">
		      <h4>Code</h4>
		    </div>
		    <div class="ten columns">
		      <input class="u-full-width" type="text" placeholder="catchy-text" name="code" required>
		    </div>
		  </div>
		  <input class="button-primary" type="submit" value="Shortly Magic ✨">
		</form>
		<% } else { %>
			<div class="shorturl__div">
				<a class="shorturl__content" rel="noopener noreferrer" target="_blank" href="<%= url %>"><%= url %></a>
				<br />
				<a class="shorturl__content" href="/">Go Back</a>
			</div>
		<% } %>
  </main>
</body>
</html>