.main {
	width: 100vw;
	height: 50vh;
	background: #0097A7;
	color: white;
}

.main__content {
	padding: 10rem 0;
}

.form__container {
	text-align: center;
}

.shorturl__div,
.error__div {
	padding: 20px 0;
	width: 100%;
	text-align: center;
}

.shorturl__content {
	text-decoration: none;
	font-size: 4rem;
	color: #0097A7;
}

.shorturl__content:hover {
	color: #006064;
}

.error__content {
	color: #303030;
	font-size: 4rem;
}

.error__msg__div {
	text-align: center;
	background: #D32F2F;
	color: #fff;
	padding: 0 20px;
}


.mt-4 {
	margin-top: 40px;
}

@media (max-width: 576px) {
	.main {
		height: 250px;
	}

	.main__content {
		padding: 1rem 2rem;
	}

	.shorturl__content,
	.error__content {
		font-size: 2.5rem;
	}
}