<section class="main">
	<div class="container main__content">
		<h1>Shortly</h1>
		<h3>Providing shortlinks since 2019</h3>
		<h6>Made with 💖 <a rel="noopener noreferrer" target="_blank" href="https://akashrajpurohit.cf" style="color: white">Akash Rajpurohit</a></h6>
	</div>
</section>